.update-server {
    color: var(--interactive);
    border-color: var(--interactive);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    padding: 6px 8px;
    white-space: nowrap;
}

.update-server:hover {
    background-color: var(--brand);
    color: white;
}

.edit-seperator {
    box-sizing: border-box;
    margin: 4px;
    border-bottom: 1px solid var(--line-separator-color);
}

.delete-server {
    color: var(--danger);
    border-color: var(--interactive);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    padding: 6px 8px;
    white-space: nowrap;
}

.delete-server:hover {
    color: white;
    background-color: rgb(161, 40, 40);
}