.home-page{
    display: flex;
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.home-page-content {
    /* display: flex; */
    /* display: flex;
    flex: 0 0 auto;
    flex-grow: 1;
    margin-right: 16px; */
    /* position: absolute; */
    height: 100%;
    width: calc(100% - 312px);
    /* position: fixed; */
    /* display: flex; */
}

@media (max-width: 312px) {
    .friends-content {
        display: none;
    }

    .home-page {
        overflow: hidden;
    }
}