.welcome-dm {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.1rem;
}

.profile-icon {
    width: 80px;
    height: 80px;
}



.welcome-dm-heading {
    font-weight: 700;
    margin: 8px 0;
    color: var(--off-white);
    font-size: 32px;
    line-height: 40px;

}

.welcome-dm-desc {
    color: var(--interactive);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.highlighted-user {
    color: var(--off-white);
}

.friends-show-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0.765 1;
    width: 100%;

    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
    margin-left: 5px;
}

#online-wumpus-image {
    width: 421px;
    height: 218px;
    background-image: url("/assets/homepage_images/discord1.svg");
    background-size: 100% 100%;
    margin-bottom: 25px;
    color: var(--channel-default);
}

.wumpus-desc {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--channel-default);
    user-select: none;
}

#wumpus-button {
    display: flex;
    justify-content: center;
}

.all-wumpus-image {
    width: 421px;
    height: 218px;
    background-image: url("/assets/homepage_images/discord2.svg");
    background-size: 100% 100%;
    margin-bottom: 25px;

}

#pending-wumpus-image {
    width: 421px;
    height: 218px;
    background-image: url("/assets/homepage_images/discord3.svg");
    background-size: 100% 100%;
    margin-bottom: 25px;
}

#blocked-wumpus-image {
    width: 421px;
    height: 218px;
    background-image: url("/assets/homepage_images/discord4.svg");
    background-size: 100% 100%;
    margin-bottom: 25px;
}

.brand-button {
    background-color: var(--brand);
    color: white;
    cursor: pointer;
    margin-top: 28px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border-radius: 3px;
    font-weight: 500;
    line-height: 8px;
    padding: 2px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .17s ease, color .17s ease;
}

.brand-button:hover {
    background-color: rgb(71, 82, 196);
    color: white !important;
}

.brand-button:active {
    background-color: rgb(60, 69, 165);
}


.activity-bar {
    flex: 0 1 30%;
    min-width: 360px;
    max-width: 420px;
    border-left: 1px solid var(--line-separator-color);
}

.activity-bar-container {
    height: 100%;
}

.activity-bar-wrapper {
    margin-left: 2px;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    padding-right: 8px;
}

.activity-heading {
    margin: 8px 0 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

#activity-lonely {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 60px;
}

.activity-heading {
    font-size: 20px;
    -webkit-text-stroke: .1px var(--off-white);
}

#activity-desc {
    color: var(--channel-default);
    font-size: 14px;
    padding-bottom: 28px;
    -webkit-text-stroke: .2px var(--channel-default);
}


#add-friend-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0.765 1;
    width: 100%;
    margin-bottom: 55px;
    margin-left: 5px;
}

#add-friend-header {
    padding: 20px 30px;
    border-bottom: 1px solid var(--line-separator-color);
    user-select: none;
}

#add-friend-title {
    margin-bottom: 8px;
    color: var(--off-white);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

#add-friend-desc {
    color: var(--channel-default);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-text-stroke: 0.2px var(--channel-default);
}

.searchbar.friend {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.298);
    border-radius: 8px;
    margin-top: 16px;
    padding: 0 12px;

    width: 97%;

    cursor: text;
    user-select: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(224, 225, 229, 0.4);
    transition: border-color .2s ease-in-out;
}

.searchbar.friend:active {
    border-color: var(--focus-border);
}

#other-places-header {
    color: var(--interactive-dm-header-text);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    user-select: none;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 30px;
    flex-shrink: 0;
}

.explore-box {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--line-separator-color);
    background-color: var(--left-sidebar-color);
    display: flex;
    align-items: center;
    width: 46%;
    margin-left: 14px;
    height: 56px;

}

.explore-box:hover {
    background-color: var(--interactive-hover-heading);
}

.explore-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    color: var(--off-white);
}

.explore-button:hover {
    color: var(--off-white) !important;
    -webkit-text-stroke: 0;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

#left-explore-buttonside {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 3px;
}

.public-server-friend-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 33%;
    background-color: var(--green-cord);
    overflow: hidden;
    padding: 6px;
    border-radius: 8px;
    transition: background-color .15s ease-out, color .15s ease-out;

}

#right-explore-buttonside {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

#add-friend-wumpus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 65px;
}


.modal-container.dm {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 300px;
    padding: 0 14px 0 14px;
}

