@font-face {
    font-family: 'gg';
    src: url('/assets/fonts/ggsans-Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'ginto';
    src: url('/assets/fonts/ginto.otf') format('truetype');
}

@font-face {
    font-family: 'ginto-headline';
    src: url('/assets/fonts/ginto-headline.otf') format('truetype');
}



html,
body {
    font-family: 'gg';
    margin: 0;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    overflow: hidden scroll;
    /* overflow: visible */
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#root {
    display: flex;
    height: 100vh;
    /* overflow: hidden scroll; */
}

:root {
    --not-so-black: rgb(35, 39, 42);
    --home-background-color: #404eed;
    --brand: #5865f2;
    --brand-gradient: linear-gradient(90deg, #8ea1e1, #7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;

    --text-link-form: rgb(0, 108, 231);

    --white: #fff;
    --black: #000;
    --ekko-red: #de2761;

    --navbar-color: rgb(30, 31, 34);
    --off-white-text: rgb(224, 225, 229);
    --icon-bg: rgb(49, 51, 56);
    --danger: rgb(242, 63, 66);
    --green-cord: rgb(35, 169, 89);
    --red-cord: #ED4245;
    --line-separator-color: rgba(78, 80, 88, 0.48);
    --interactive: rgb(184, 185, 191);
    --user-panel-color: rgb(35, 36, 40);
    --left-sidebar-color: rgb(43, 45, 49);
    --interactive-hover: rgba(78, 80, 88, 0.6);
    --friend-request-line: rgba(78, 80, 88, 0.4);
    --interactive-hover-heading: rgba(78, 80, 88, 0.298);
    --positive-green: rgb(45, 199, 112);
    --tag-color: rgb(181, 186, 193);

    --text-normal: rgb(219, 222, 225);

    --interactive-box-shadow: rgba(2, 2, 2, 0.2) 0px 1px 0px;
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px,
        rgba(6, 6, 7, 0.05) 0px 1.5px 0px 0px,
        rgba(2, 2, 2, 0.05) 0px 2px 0px 0px;
    --elevation-high: 0 8px 16px hsl((0 0 0)/0.24);

    --channel-default: rgb(152, 154, 162);

    --interactive-dm-header-text: rgb(243, 244, 245);
    --message-box-area-color: rgb(56, 58, 64);
    --nice-green: rgb(36, 128, 70);

    --white-form-text-color: rgb(6, 6, 7);
    --desc-text: rgb(78, 80, 88);
    --white-form-input-text: rgb(49, 51, 56);
    --white-form-input-bg: rgb(233, 234, 237);
    --text-muted: rgb(92, 94, 102);
    --app-blue-links: rgb(0, 168, 252);
}