#user-panel {
    display: flex;
    align-items: center;
    position: fixed;
    /* position: absolute; */
    width: 240px;
    height: 53px;
    background-color: var(--user-panel-color);
    /* left: 0; */
    /* left: 72px; */
    bottom: 0;
    /* overflow-x: hidden; */
    z-index: 2;
}

#user-box {
    display: flex;
    padding-top: 3px;
    padding-bottom: 2px;
    align-items: center;
    margin-left: -2px;
    min-width: 120px;
    margin-right: 9px;
    user-select: text;
    color: var(--off-white);

}

#user-box:hover {
    color: var(--off-white);
    background-color: var(--interactive-hover);
    border-radius: 4px;
}

#user-box-wrapper {
    padding-left: 9px;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 2px;
    position: relative;
}

.user-icon span {
    padding-left: 1px;
}

.user-status-bubble {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right:0;
    outline: 3.5px solid var(--user-panel-color);
    display:flex;
    justify-content: center;
    align-items: center;
}

.user-status-bubble.online{
    background-color: var(--green-cord);
}

.user-status-bubble.idle{
    background-color: rgb(252, 163, 29);
}

.user-status-bubble.do.not.disturb{
    background-color:rgb(237, 69, 69);
}

.user-status-bubble.invisible{
    background-color: rgb(116, 124, 139);
}
.user-status-bubble-inner {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
}
.user-status-bubble-inner.idle {
    background-color: var(--user-panel-color);
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
}
.user-status-bubble-inner.do.not.disturb {
    background-color: var(--user-panel-color);
    width: 7px;
    height: 2.4px;
    border-radius: 1px;
}
.user-status-bubble-inner.invisible {
    background-color: var(--user-panel-color);
}

#user-panel-info {
    padding-bottom: 3px;
    padding-left: 8px;
    padding-top: 3px;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* overflow-x: hidden; */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

#user-panel-tag {
    font-size: 11px;
    color: var(--tag-color);
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 13px;
}

#setting-buttons {
    display: flex;
}

#setting-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--interactive);
}

#setting-buttons > div:hover {
    color: var(--off-white);
    background-color: var(--interactive-hover);
}

#setting-buttons > div > svg{
    width: 20px;
    height: 20px;
}

.user-panel-tooltip {
    position: absolute;
    bottom: 41.4px;
    color: var(--off-white);
    background-color: var(--white-form-text-color);
    z-index: 1002;
    max-width: 196px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: var(--interactive-box-shadow);
    white-space: nowrap;
    display: none;
    box-shadow: var(--elevation-high);
    cursor: default;
} 

.user-panel-mute:hover > .user-panel-tooltip:not(:hover) {
    display: block;
}

.user-panel-deafen:hover > .user-panel-tooltip:not(:hover) {
    display: block;
}

.user-panel-logout:hover > .user-panel-tooltip:not(:hover) {
    display: block;
}


.user-panel-tooltip .tooltip-text:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--white-form-text-color) transparent transparent transparent; 
}



.user-panel-mute {
    position: relative;
}

.user-panel-deafen {
    position: relative;
}

.user-panel-logout {
    position: relative;
}

