a {
    color: rgb(0, 170, 252);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#login-box {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/homepage_images/login_bg.png');
}

#login-form-box {
    width: 25%;
    height: 40%;
    min-height: 400px;
    min-width: 500px;
    background-color: #313338;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
    padding: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
}

.loading-wumpus.login {
    /* width: 100px; */
    height: 140px;
    position: absolute;
    left: 34%;
    top: -19%;
    
}

#login-form {
    width: 100%;
    height: 100%;
}

#header-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
}

#welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #f3f4f5;
    width: 100%;
    height: 55%;
    font-size: 24px;
}

#welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: rgb(184, 185, 191);
    font-weight: 400;
    font-size: 16px;
}

#spacer-header {
    display: flex;
    width: 100%;
    height: 25%;
}

#input-required {
    color: rgb(242, 63, 67);
}

#spacer-input {
    height: 25%;
    width: 100%;
}

#username-login-form {
    display: flex;
    color: rgb(184, 185, 191);
    font-weight: 600;
    width: 100%;
    height: 25%;
    font-size: 12px;
    flex-wrap: wrap;
}

#username-login-form label {
    height: 30%;
    font-size: 12px;
    width: 100%;
}

label.error {
    color: rgb(250, 119, 123);
}

label.error span {
    font-style: italic;
    font-weight: 500;
}

#username-login-form input[type="text"] {
    color: rgb(224, 225, 229);
    background-color: rgb(30, 31, 34);
    border-radius: 3%;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    border: none;
    width: 100%;
    height: 25%;
    outline: none;
    padding: 2%;
    align-self: flex-end;
}

#password-login-form {
    display: flex;
    color: rgb(184, 185, 191);
    font-weight: 600;
    width: 100%;
    height: 20%;
    font-size: 12px;
    flex-wrap: wrap;
}

#password-login-form label {
    height: 30%;
    font-size: 12px;
    width: 100%;
}

#password-login-form input[type="password"] {
    background-color: rgb(30, 31, 34);
    color: rgb(224, 225, 229);
    border-radius: 3%;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    border: none;
    width: 100%;
    height: 31.25%;
    outline: none;
    padding: 2%;
    align-self: flex-end;
}


#forgot-password-box {
    display: flex;
    height: 12%;
    width: 100%;
    color: rgb(0, 170, 252);
    font-family: 'gg';
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.1%;
}

#forgot-password-box div:hover {
    height: fit-content;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
}

#login-button-box {
    display: flex;
    height: 13%;
    width: 100%;
}

#login-button {
    background-color: rgb(88, 101, 242);
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'gg';
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#login-button:hover {
    background-color: #4c58dc;
}

#login-button:active {
    background-color: #3b44a5;
}

#login-form-bottom-box {
    display: flex;
    font-family: 'gg';
    margin-top: 2%;
    color: rgb(152, 154, 162);
    font-size: 14px;
    height: 6%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

button.demo-login {
    border: none;
    background: none;
    padding: 0;
    font-family: 'gg';
    font-size: 14px;
    outline: inherit;
    color: rgb(0, 170, 252);
}

button.demo-login:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 650px) {

    #login-box {
        background-image: none;
        background-color: #313338;
        overflow: hidden;
    }
    #login-form-box {
        width: 90%;
        height: 100%;
        min-height: 100vh;
        border-radius: 0px;
        box-shadow: none;
        min-width: 20rem;
        padding: 7rem;
    }

    #header-login-form {
        height: 6rem;
    }

    #header-login-form > #welcome-message {
        font-size: 2rem;
        height: 40%;
    }

    #header-login-form > #welcome-content {
        display: none;
    }

    #spacer-header {
        display: none;
    }

    #username-login-form {
        height: 6rem;
    }

    #password-login-form {
        height: 4.5rem;
    }

    #forgot-password-box {
        margin-top: 0.5rem;
        height: 2rem;
    }

    #login-form-bottom-box {
        font-size: 1rem;
    }

    #login-button-box {
        height: 3rem;
    }

    #login-form-bottom-box > * {
        margin-right: 0.4rem;
        font-size: 0.75rem;
    }
}