.user-bar {
    min-height: 100%;
    display: flex;
    background-color: var(--left-sidebar-color);
    position: relative;
    /* height: 100vh; */
    width: 240px;
    z-index: 1;
}

#left-navbar {
    display: flex;
    flex-direction: column;
    width: 240px;
    /* min-height: 100%; */
    height: 100%;
    /* left: 72px; */
    background-color: var(--left-sidebar-color);

    color: rgb(152, 154, 162);
    font-weight: 500;
    font-size: 16px;
    font-family: 'gg';
    /* position: fixed; */
    max-height: calc(100% - 45);
    
    /* box-shadow: var(--box-shadow); */
}

.left-navbar > *:not(#user-panel){
    /* margin-bottom: 53px; */
}

#left-navbar-header-alt {
    display: flex;
    align-items: center;
    width: 240px;
    height: 48px;
    font-weight: 500;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    /* z-index: 2; */
    transition: background-color .1s linear;
    box-shadow: var(--box-shadow);
}

#left-navbar-header-box-alt {
    height: 24px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--channel-default);
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dm a {
    text-decoration: none;
    user-select: none;
}

#dm-header-sections {
    width: 94%;
    min-width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.dm-header-section {
    max-width: 224px;
    margin-left: 8px;
    height: 42px;
    width: 224px;
    box-sizing: border-box;
    padding: 1px 0;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    display: flex;
    padding-left: 8px;
    align-items: center;

    color: var(--channel-default);
}

.dm-header-section:hover {
    background-color: var(--interactive-hover);
    color: var(--off-white);
}

.dm-header-section:active {
    background-color: var(--line-separator-color);
    color: var(--off-white);
}


.header-section-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

#nitro-box {
    display: flex;
    align-items: center;
    width: 800px;
    padding-right: 19px;
    padding-left: 3px;
    justify-content: space-around;
}

#dm-box {
    height: 18px;
    padding: 22px 8px 4px 18px;
    display: flex;
    color: var(--channel-default);
    width: 203px;
}

#dm-box:hover #dm-title {
    color: var(--off-white);
}

#dm-title {
    height: 18px;
    width: 188px;
    flex: 1;
    overflow: hidden;
    font-size: 12px;
    -webkit-text-stroke: .25px var(--channel-default);
    line-height: 16px;
    letter-spacing: 0.04em;
    user-select: none;
}

.add-symbol {
    font-size: 28px;
    position: relative;
}

.add-dm:hover {
    color: var(--off-white);
}

.add-symbol-tooltip {
    position: absolute;
    bottom: 26px;
    left: -37.3px;
    color: var(--off-white);
    background-color: var(--white-form-text-color);
    z-index: 1002;
    max-width: 196px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: var(--interactive-box-shadow);
    white-space: nowrap;
    display: none;
    box-shadow: var(--elevation-high);
}

.add-symbol-tooltip .tooltip-text:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--white-form-text-color) transparent transparent transparent; 
}

.add-symbol-tooptip:hover {
    display: hidden;
}

.add-dm:hover ~ .add-symbol-tooltip:not(:hover) {
    display: block;
}

#dm-title+.add-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5%;
    cursor: pointer;
}

#direct-messages {
    /* height: 100%; */
    overflow: hidden scroll;
    margin-bottom: 8px;
}

.dm {

    max-width: 224px;
    margin-left: 8px;
    box-sizing: border-box;
    padding: 1px 0;
    border-radius: 4px;
    height: 44px;
}

.dm:hover {
    background-color: var(--interactive-hover);
}

.dm-wrapper {
    display: flex;
    width: 92%;
    height: 100%;
    align-items: center;

    color: var(--channel-default);
    justify-content: space-between;
    padding-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    letter-spacing: 0.06em;
}

.dm-wrapper:hover .dm-user-info {
    color: var(--off-white);
}

.dm-wrapper .dm-exit {
    display: none;
}

.dm-wrapper:hover .dm-exit {
    display: block;
}

.dm-wrapper:active {
    color: var(--off-white);
}

.dm-user-info {
    display: flex;
    align-items: center;
    height: 100%;

}

.dm-user-icon {
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dm-exit {
    display: none;
    font-size: 20px;
}

.dm-exit:hover {
    color: var(--off-white);
}

#conversation-text {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: var(--channel-default);
    user-select: none;
}

.user-status-bubble.bar-status-bubble {
    outline: 3.5px solid var(--left-sidebar-color);
}

.user-status-bubble-inner.bar-status-bubble:not(.online){
    background-color: transparent;
}