<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property='og:image' content="<%= image_url('https://raw.githubusercontent.com/kennytram/MockCord/main/frontend/assets/demo/Splash-demo.png') %>" />
    <meta property="og:title" content="MockCord" />
    <meta property="og:description" content="Welcome to MockCord! MockCord is a web-based application that allows users to communicate with each other through real-time chat messaging. In the current version of the application, users are also able to create servers and channels, and become friends with each other. and The application is designed to replicate some of the features of the popular communication platform Discord." />
    <meta property="og:url" content="https://mockcord.onrender.com/" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
